.button {
    width: 180px;
    height: 40px;
    font-family: "DM Sans";
    font-size: 16px;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

.button.outline {
    color: var(--white);
    background: var(--black1);
    border: 1px var(--white) solid;
}

.button.outline:hover {
    background: var(--black2);
}

.button.solid {
    color: var(--black1);
    background: var(--orange);
    border: 1px var(--orange) solid;
}

.button.solid:hover {
    color: var(--black1);
    background: #FF9E24;
}