* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    font-family: 'DM Sans', 'Inter', 'Roboto' sans-serif;
}

:root {
    --orange: #FF8F01;
    --white: #EBEBEB;
    --gray1: #B8B8B8;
    --gray2: #525252;
    --black1: #191919;
    --black2: #242424;
    --black3: #292828;
    --green: #47D444;
}