.flashcards {
  margin-top: 100px;
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
  
  
}

.flashcards__container {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  perspective: 150px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.flashcards__container::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 80px;
  background: white;
  margin: 2rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.card:first-of-type {
  margin-left: 15rem;
}

.card:last-of-type {
  margin-right: 15rem;
}